<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
  <div class="container-fluid">
    <div class="collapse navbar-collapse d-flex justify-content-between align-items-center" id="navbarSupportedContent">

      {% comment %} <ul class="navbar-nav align-items-center">
        <li class="nav-item d-xl-none">
          <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </div>
        </li>
      </ul> {% endcomment %}

      <ul class="navbar-nav align-items-center mx-auto">
        <li class="nav-item">
          <a href="/" class="nav-link">
            <span class="navbar-brand-text text-white font-weight-bold">
              AMPA READER
            </span>          
          </a>
        </li>
      </ul>

      <ul class="navbar-nav align-items-center">
        <li class="nav-item">
          <div class="d-flex align-items-center rounded-circle">
            <a href="{% url 'logout' %}" class="rounded-circle">
              <i class="ni ni-user-run text-white"></i>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>